/*Variables sobreescritas de bootstrap*/

$primary: #5265E1;
$secondary:#FA5959;
/*links*/
$nav-link-hover-color: $secondary;
$nav-link-color:#6c757d;

/*Tabs*/
$nav-tabs-link-active-border-color: #FFF #FFF $secondary #FFF;
$nav-tabs-link-hover-border-color:#FFF;
$nav-tabs-border-width:  2px;

/*Accordion*/
$accordion-button-active-bg:white;
$accordion-button-active-color:black;
$accordion-button-focus-box-shadow: #FFF;
$accordion-icon-color:$primary;
$accordion-icon-active-color:$secondary;


/*Formula para calcular la unidad de medida responsive para el diseño del polígono de fondo (de Jhey Tompkins's artículo 
https://css-tricks.com/advice-for-complex-css-illustrations/) */
:root {
  --size: 60;
  --unit: calc((var(--size) / 300) * 1vmin);
}
/*Bootstrap*/
@import "../node_modules/bootstrap/scss/bootstrap";

/*Botones*/
.btn{
    box-shadow: -2px 6px 17px 3px rgba(180,187,225,0.37);

}
.btn-primary:hover{
    background:white;
    color:$primary;

}
.btn-ligth{
    background:#F5F5F6;
    
}
.btn-ligth:hover{
    border-color:#6c757d;
}
.btn-secondary{
    color:white;
    
}
.btn-secondary:hover{
    background:white;
    color:$secondary;
}

/*Accordion*/
.accordion-button:hover{
    color:$secondary;
}

/*Polígonos de fondo*/
#fondo1{
    height: calc(var(--unit) * 220);
    width: calc(var(--unit) * 300);
    border-radius: 50% 0% 0% 50%;
    background: $primary;
    position:relative;
    top:15%;
    left:15%;
}
#fondo2, #fondo3, #fondo4{
    height: calc(var(--unit) * 220);
    width: calc(var(--unit) * 300);
    border-radius: 0% 50% 50% 0%;
    background: $primary;
    position: relative;
    top:20%;
    right:15%;
    z-index: -1;

}
/*Posicionamiento imágenes*/

#hero{
    position: relative;
    bottom:40%;
    right: 5%;

}
#Tab1, #Tab2, #Tab3 {
    position:relative;
    bottom:40%;
    left:10%;
}

/*Sombra cards*/
.card{
    box-shadow: 0px 12px 10px 3px #B4BBE1;
    

}
/*Media queries posicionamiento cards*/

@media (max-width:991px){
#card1, #card2, #card3 {
    margin:5% auto ;
}
}

 @media (min-width:992px){
 #card1{
    position:relative;
    left:10%;
 }
 #card2{
    position:relative;
    top:10%;
}
 #card3{
    position:relative;
    right:10%;
    top: 20%;
}
 }

 @media (min-width:1400px){
 #card1{
    position:relative;
    left:80%;
 }
 #card2{
     position:relative;
    left:30%;
    bottom:5%;
}
 #card3{
    position:relative;
    right:20%;
    margin-bottom:15%;
}
 }
