/*Variables sobreescritas de bootstrap*/

$primary: #5265E1;
$secondary:#FA5959;
$nav-link-hover-color: $secondary;
$nav-link-color:#6c757d;

$nav-tabs-link-active-border-color: #FFF #FFF $secondary #FFF;
$nav-tabs-link-hover-border-color:#FFF;
$nav-tabs-border-width:  2px;

/*Formula para calcular la unidad de medida responsive para el diseño del polígono de fondo (de Jhey Tompkins's artículo 
https://css-tricks.com/advice-for-complex-css-illustrations/) */
:root {
  --size: 60;
  --unit: calc((var(--size) / 300) * 1vmin);
}
@import "../node_modules/bootstrap/scss/bootstrap";


#fondo1{
     height: calc(var(--unit) * 220);
     width: calc(var(--unit) * 300);
   
    border-radius: 50% 0% 0% 50%;
    background: $primary;
   position:relative;
    top:35%;
    left:15%;
}
#fondo2{
    //  height: calc(var(--unit) * 220);
    //  width: calc(var(--unit) * 400);
   height:300px;
   width:300px;
    border-radius: 0% 50% 50% 0%;
    background: $primary;
     position: relative;
    top:35%;
    left:15%;

}

#hero{
    position: relative;
    bottom:15%;
    right: 5%;

}



